﻿@model Modelo.Docente.Professor
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}
<div class="card-block">
    <br />
    <br /><div class="text-center h1">Registrando um novo professor</div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group text-center h3">
                <input type="submit" value="Registrar Professor" class="btn btn-light" />
                <a asp-action="Index" class="btn btn-info">Retornar à listagem de professores</a>
            </div>
        </form>
    </div>
    <div class="card-footer bg-dark text-center text-white">
        Informe os dados acima e/ou clique em um dos botões de ação
    </div>
</div>

@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
