﻿@model Modelo.Cadastros.Curso
@{
    Layout = "_LayoutIES";
}
<div class="card-block">
    <br /><div class="text-center h1">Alterando um departamento existente</div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CursoID" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento.InstituicaoID" class="control-label"></label>
                <select asp-for="Departamento.InstituicaoID" class="form-control" asp-items="@(new SelectList(@ViewBag.Instituicoes, "InstituicaoID", "Nome"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoID" class="control-label"></label>
                <select asp-for="DepartamentoID" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.Departamentos, "DepartamentoID", "Nome"))"
                        data-url="@Url.Action("ObterDepartamentosPorInstituicao", "Curso", new { area = "Cadastros" })"></select>
            </div>
            <div class="form-group text-center h3">
                <input type="submit" value="Atualizar Departamento" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Retornar à listagem de departamentos</a>
            </div>
        </form>
    </div>
</div>

@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(document).on("change", '#Departamento_InstituicaoID', function (e) {
            var instituicaoID = $(this).find(":selected").val();
            GetDadosParaDropDownList(instituicaoID, '#DepartamentoID', 'DEPARTAMENTO');
        });

        function GetDadosParaDropDownList(valorBuscar, controleAtualizar, nomeDado) {
            var optionControleAtualizar = controleAtualizar + ' option';
//            if (valorBuscar.length > 0) {
            var url = $(controleAtualizar).data('url');
                $.getJSON(url, { actionID: valorBuscar }, function (dadosRecebidos) {
                    $(optionControleAtualizar).remove();
                    for (i = 0; i < dadosRecebidos.length; i++) {
                        $(controleAtualizar).append('<option value="' + dadosRecebidos[i].value + '">' + dadosRecebidos[i].text + '</option');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    debugger;
                    alert('Erro de conexão', 'Erro obtendo dados');
                });
 //           } else {
 //               $(optionControleAtualizar).remove();
 //               $(controleAtualizar).append('<option value=""></option');
 //           }
        }
</script>
}

