﻿@model Modelo.Cadastros.Instituicao
@{
    Layout = "_LayoutIES";
}

@section styles {
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
}

    <div class="card-block">
        <br />
        <br/><div class="text-center h1">Exibindo uma instituição existente</div>

        @Html.Partial("~/Areas/Cadastros/Views/Instituicao/_PartialDetailsContentCard.cshtml", Model)

        <div class="card-footer bg-info text-center text-white">
            <form asp-action="Delete">
                <input type="hidden" asp-for="InstituicaoID" />
                <input type="submit" value="Remover Instituição" class="btn btn-light" />
                <a asp-action="Index" class="btn btn-info">Retornar à listagem de instituições</a>
            </form>
        </div>
    </div>
@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
