﻿@model IEnumerable<Modelo.Cadastros.Instituicao>
@{
    Layout = "_LayoutIES";
}

@section styles {
    @*    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>*@
    <link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.min.css" />
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="card-block">
    <br/><div class="text-center h1">Instituições Registradas</div>
    <div class="card-body">
        <table id="tabela_instituicoes">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InstituicaoID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstituicaoID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.InstituicaoID">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.InstituicaoID">Visualizar</a> |
                            <a asp-action="Delete" asp-route-id="@item.InstituicaoID">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-success text-center">
        <a asp-area="Cadastros" asp-action="Create" class="btn-success">Criar uma nova instituição</a>
    </div>
</div>


@section ScriptPage {
    @*    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>*@
    <script type="text/javascript" src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_instituicoes').DataTable({
                "order": [[1, "asc"]]
            });
        });
    </script>
}
